{% if page.title == 'Blog' or page.title == 'Personal' and site.logo %}
  <header class="masthead">
    <div class="wrap">
        <a href="{{ '/' | relative_url }}" class="site-logo" rel="home" title="{{ site.title }}">
          <img src="{{ site.logo | relative_url }}" class="site-logo-img animated fadeInDown" alt="{{ site.title }}">
        </a>
        {% assign page_image = page.image.path | default: page.image %}
        {% unless page_image %}
          {% if page.url == '/' or page.url == '/pages/personal/' %}
            <h1 class="site-title animated fadeIn"><a href="{{ '/' | relative_url }}">ML ・CS ・ Tech</a></h1>
          {% else %}
            <div class="site-title animated fadeIn"><a href="{{ '/' | relative_url }}">{{ site.title }}</a></div>
          {% endif %}
          <p class="site-description animated fadeIn" itemprop="description">{{ site.description }}</p>
        {% endunless %}
    </div>
  </header><!-- /.masthead -->
{% endif %}