{% if page.title == 'Blog' or page.title == 'Personal' or page.title == 'About' or page.title == 'Posts' and site.logo %}

{% if page.title == 'About' %}
  <header class="masthead" style="background-image: url('{{ site.bg-about | prepend: site.baseurl | replace: '//', '/' }}')">
{% elsif page.title == 'Posts'%}
  <header class="masthead" style="background-image: url('{{ site.bg-post | prepend: site.baseurl | replace: '//', '/' }}')">
{% else %}
  <header class="masthead" style="background-image: url('{{ site.background | prepend: site.baseurl | replace: '//', '/' }}')">
{% endif %}
  
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            
            {% if page.title == 'Blog' or page.title == 'Personal' %}
              <img src="{{ site.logo | relative_url }}" class="site-logo-img animated fadeInDown" alt="{{ site.title }}">
              <span class="subheading">{{ site.description }}</span>
            {% else %}
              <h1>{{ page.title }}</h1>
            {% endif %}

          </div>
        </div>
      </div>
    </div>
  </header>
{% endif %}


