{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            
            {% if page.title == 'Blog' or page.title == 'Personal' %}
              <img src="{{ site.logo | relative_url }}" class="site-logo-img animated fadeInDown" alt="{{ site.title }}">
              <span class="subheading">{{ site.description }}</span>
            {% else %}
              <h1>{{ page.title }}</h1>
            {% endif %}

          </div>
        </div>
      </div>
    </div>
  </header>
{% endif %}


