{% if page.tags.size > 0 %}
  <p class="post-meta">

    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
      {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
      {{ page.date | date: date_format }}
    </time>

    <span itemprop="author" itemscope itemtype="http://schema.org/Person">
      by <span itemprop="name">{{ site.author.name }}</span>
    </span>

    <span>
      {% for tag in page.tags %}
        <a class="post-tag"><nobr>{{ tag }}</nobr>&nbsp;</a>
      {% endfor %}
    </span>
  </p>
{% endif %}

