---
layout: page
---

<div class='other-pages'>

	<p></p>
	<p>Hi there, this is Yassine! I'm currently a 2nd year PhD student, working at the intersection of CV and NLP for 
		multi-modal document analysis and understanding @ <a href="https://www.centralesupelec.fr/" target="_blank">CentraleSupèlec</a>. </p>

	<p>My goal with this blog is to share ML related things that I've
		learned & find intersting, that it is, in the clearest and most straightforward way without losing any substance.

	<blockquote style="margin-bottom: 50px">
		<p class="quotation"> 
		I learned very early the difference between knowing the name of something and knowing something.</p>
		<footer>Richard Feynman</footer>
		</blockquote> 

	<p>If you have any questions or find any errors, please feel free to send me an email:
		ouali DOT yasine AT gmail.com. You can also send a pull request to correct something in one of the blogs posts
		in the github repo of this site
		<a href="https://github.com/yassouali/ml-blog" target="_blank">here</a>.
		Thanks :).</p>

</div>