---
layout: page
---

<div class='other-pages'>

	<p></p>
	<p>Hi, this is Yassine! I'm currently a 2nd year PhD student, working at the intersection of CV and NLP for 
		multi-modal document analysis and understanding @ <a href="https://www.centralesupelec.fr/" target="_blank">CentraleSupèlec</a>. </p>

	<p>My goal with this blog is to share ML related things that I've
		learned & find intersting, that it is, in the clearest and most straightforward way without losing any substance.
		And testing my understanding of the subjects, to see if I really <i>know</i> something, or only its name.</p>

	<blockquote style="margin-bottom: 50px">
		<p class="quotation"> 
	  I learned very early the difference between knowing the name of something and knowing something.</p>
	  <footer>Richard Feynman</footer>
	  </blockquote> 

</div>