---
layout: page
---

<div class='other-pages'>

	<p></p>
	<p>Hi, this is Yassine! I'm currently a 2nd year PhD student, working at the intersection of CV and NLP for 
		multi-modal document analysis and understanding @ <a href="https://www.centralesupelec.fr/" target="_blank">CentraleSupèlec</a>. </p>

	<p>I hope to share in this blog what I've learned in the clearest and most traight forward way, the degree of clarity will be directly propotionnal to my understanding of the subjects.</p>

	<blockquote style="margin-bottom: 50px">
		<p class="quotation"> 
	  I learned very early the difference between knowing the name of something and knowing something.</p>
	  <footer>Richard Feynman</footer>
	  </blockquote> 

</div>